<h2>Results:</h2>
<h4>Correct <%= session[:answers_right] %> out of <%= Question.all.size %> </h4>
<h4>Correct <%= (session[:answers_right].to_f/Question.all.size.to_f)*100 %>% </h4>
<%= button_to "Try Again!", request.base_url + '/start' %> 